USE [master]
GO
/****** Object:  Database [BidAuction]    Script Date: 4/18/2024 3:10:20 PM ******/
CREATE DATABASE [BidAuction]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BidAuction', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BidAuction.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BidAuction_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BidAuction_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BidAuction].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BidAuction]
GO
/****** Object:  Table [dbo].[Bid]    Script Date: 4/18/2024 3:10:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bid](
	[bid_id] [int] NOT NULL,
	[buyer_id] [int] NULL,
	[item_id] [int] NULL,
	[bid_price] [decimal](10, 2) NULL,
	[bid_datetime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[bid_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buyer]    Script Date: 4/18/2024 3:10:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buyer](
	[buyer_id] [int] NOT NULL,
	[name] [varchar](255) NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[address_street] [varchar](255) NULL,
	[address_city] [varchar](100) NULL,
	[address_state] [varchar](50) NULL,
	[address_zip] [varchar](20) NULL,
	[email] [varchar](255) NULL,
	[telephone] [varchar](20) NULL,
	[card_owner_name] [varchar](255) NULL,
	[card_number] [varchar](20) NULL,
	[card_expiration_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[buyer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 4/18/2024 3:10:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[item_id] [int] NOT NULL,
	[name] [varchar](255) NULL,
	[condition] [varchar](20) NULL,
	[initial_price] [decimal](10, 2) NULL,
	[description] [text] NULL,
	[quantity] [int] NULL,
	[owner_id] [int] NULL,
	[start_datetime] [datetime] NULL,
	[end_datetime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seller]    Script Date: 4/18/2024 3:10:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seller](
	[seller_id] [int] NOT NULL,
	[name] [varchar](255) NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[address_street] [varchar](255) NULL,
	[address_city] [varchar](100) NULL,
	[address_state] [varchar](50) NULL,
	[address_zip] [varchar](20) NULL,
	[email] [varchar](255) NULL,
	[telephone] [varchar](20) NULL,
	[card_owner_name] [varchar](255) NULL,
	[card_number] [varchar](20) NULL,
	[card_expiration_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[seller_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bid]  WITH CHECK ADD FOREIGN KEY([buyer_id])
REFERENCES [dbo].[Buyer] ([buyer_id])
GO
ALTER TABLE [dbo].[Bid]  WITH CHECK ADD FOREIGN KEY([item_id])
REFERENCES [dbo].[Item] ([item_id])
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD FOREIGN KEY([owner_id])
REFERENCES [dbo].[Seller] ([seller_id])
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD CHECK  (([condition]='Explained' OR [condition]='Refurbished' OR [condition]='New'))
GO
USE [master]
GO
